
@media only screen and (min-width : 768px) {
	
}

@media only screen and (max-width : 1200px) {


	#text-carousel-intro-section .caption h1 {
		font-size: 40px;
	}

	iframe {
        width: 210%;
    }

}

@media only screen and (max-width : 1300px) {


	#text-carousel-intro-section .caption h1 {
		font-size: 40px;
	}

	iframe {
        width: 260%;
    }

}


@media only screen and (max-width : 992px) {

	.parallax {
		background-attachment: scroll !important;
		background-position: 50% 50% !important;
	}

	#text-carousel-intro-section .caption {
		top: 50% !important;
	}
	#text-carousel-intro-section .caption h1 {
		font-size: 30px;
	}

	iframe {
        width: 100%;
    }

}

@media only screen and (max-width : 767px) {


	.navbar-brand, .navbar-brand:focus {
		margin-left: 10px;
	}

	.navbar-toggle {
		margin-top: 18px;
		border: none;
	}
	.navbar-toggle:hover, .navbar-toggle:focus {
		background-color: rgba(0, 0, 0, 0) !important;
	}

	.navbar-toggle .icon-bar {
		height: 3px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #d2f8eb !important;
	}

	.navbar-collapse {
		border-width: 2px;
	}
	.navbar-fixed-top .navbar-collapse {
		max-height: 440px;
	}
	.navbar-nav > li > a {
		padding: 10px 0 !important;
		color: #FFF;
	}
	.navbar-default .navbar-nav > li > a {
		color: #222;
	}

	.page {
		padding-top: 30px;
	}

	#about-section, #contact-section {
		text-align: center;
	}

	a.rotate-box-1 {
		text-align: center;
		margin-top: 0;
	}

	ul.contact-address {
		margin-bottom: 50px;
	}

	footer {
		text-align: center;
	}

	iframe {
        width: 100%;
    }

}

@media only screen and (max-width : 480px) {




	iframe {
        width: 100%;
    }
}
