html {
	height: 100% !important;
}
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
}
body .body {
	height: 100%;
}
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 46, 82, 0.15);
	padding: 20px;
}
.page {
  overflow: hidden;
  background-color: #fff;
  padding: 50px 0;
}
* {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
*:focus { 
	outline: none !important;
	box-shadow: none !important;
}

.horizontal-center{
	padding-top: 15px;
}

.bg-overlay {
    background: #005538;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.55;
	filter: brightness(20%);
}

.divider
{
	position: relative;
	margin-top: 3px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 3px;
	background-image: linear-gradient(to right, transparent, rgb(226, 226, 226), transparent);
}

#image-gallery .modal-footer{
	display: block;
  }

  .img-thumbnail-iso{
	display:inline-block;
	max-width: 100%;
	height:auto;
	line-height:1.42857143;
	background-color:#fff;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
  
  .thumb{
	margin-top: 15px;
	margin-bottom: 15px;
  }

ol li {
	font: 14px/1.5em "Roboto";
    list-style: decimal;
    list-style-position: inside;
}

ul.dashed > li:before {
	font: 14px/1.5em "Roboto";
	content: "- ";
}

ul.social {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

ul.social > li {
  display: inline-block;
}

ul.social > li > a {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  background-color:  #005538;
  color: #fff;
  margin: 0 3px 3px 0;
}

ul.social > li > a:hover {
  text-decoration: none;
  background-color:  #cac0ac;
}

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
p {
	font: 14px/1.5em "Roboto";
}
.navbar-nav > li > a {
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

section {
	position: relative;
}

.thumbnail {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #FFF;
	border: 1px solid #DDD;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.parallax {
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	background-size: cover;
}

.text-white { color: #FFF; }
.text-off-white { color: #e7e7e7;}

.navbar {
	margin: 0;
	border: none;
}
.navbar .container {
	padding-left: 50px;
	padding-right: 50px;
}

.navbar-brand {
	background-repeat: no-repeat;
	background-position: left center;
	width: 180px;
	height: auto;
	padding: 40px 0;
	text-indent: -99999px;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 4px;

}
.navbar-default .navbar-brand {
	background-image: url(../img/logo_as.png);

}

.navbar-nav > li > a {
	padding: 24px 0;
	margin-left: 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}

#text-carousel-intro-section {
	height: 100%;
}
#text-carousel-intro-section .container {
	height: 100%;
}
#text-carousel-intro-section .caption {
	position: relative;
	top: 50%;
	margin-top: -180px;
}
#text-carousel-intro-section .caption h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 42px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#text-carousel-intro-section .caption p {
	letter-spacing: 2px;
	font-size: 16px;
}

.rotate-box-1 {
	display: inline-block;
	margin: 30px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a.rotate-box-1 {
	text-decoration: none;
	color: #363940;
}
a.rotate-box-1:hover {
	color: #676D75;
}

#about-section {
	padding: 80px 0;
}

#prices-section {
	padding: 80px 0;
}

.hypnosis {
	position: relative;
	overflow: hidden;
	padding: 80px 0;
}

.hypnosis .cover {
	background-color: rgba(0, 7, 11, 0.87);
}

#facts-and-myths-section {
	padding: 80px 0;
}

#contact-section {
	padding: 80px 0;
}

.facts-and-myths {
	background-color: #f7f7f7;
}


.prices .panel {
	position: relative;
	overflow: hidden;
	border: none;
}
.prices .panel-body .lead {
	margin: 0;
	font-size: 48px;
}
.prices .panel-footer {
	padding: 25px 15px;
}

.prices .panel-default .panel-heading {
	padding-top: 25px;
	border: none;
}
.prices .panel-default .panel-body {
	background-color: #EEE;
}
.prices .panel-default .list-group-item {
	color: #222;
	border: none;
}
.prices .panel-default .panel-footer {
	background-color: #EEE;
}

#social-section {
	padding: 80px 0;
}
ul.social-list {
	text-align: center;
	margin: 0 auto;
}
ul.social-list li{
	display: inline-block;
	margin-right: 20px;
}
ul.social-list li .rotate-box-1 {
	margin: 0;
}

#contact-section {
	position: relative;
}
#contact-section h4 {
	font-weight: 400;
}
#contact-section .cover {
	background-color: rgba(5, 8, 11, 0.93);
}
#contact-section .contact .contact-form {
	margin-bottom: 40px;
}

ul.contact-address {
	float: left;
	width: 100%;
	padding: 0;
	margin: 15px 0 ;
}
ul.contact-address li {
	padding: 0 0 20px;
	margin: 0;
}
ul.contact-address li:last-child {
	padding-bottom: 0;
}
ul.contact-address li i {
	margin-right: 10px;
}

.footer-top {
	padding: 60px 0 35px;
}

ul.imp-links {
	margin-top: 15px;
}
ul.imp-links li {
	padding: 5px 0;
}
ul.imp-links li a {
	text-decoration: none;
	color: #fff;
}

.page-header {
	margin: 0 0 60px 0;
	padding: 0;
	border: none;

}
.page-header h2 {
	text-transform: uppercase;
}

.extra-space-l {
	width: 100%;
	height: 40px;
}

.btn {
	position: relative;
	letter-spacing: 1.5px;
	border: none;
}
.btn:active {
	top: 2px;
}

.btn:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
}

.scrolltotop {
	position: fixed;
	display: none;
	bottom: 20px;
	right: 30px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	z-index: 9999;

}
.scrolltotop .fa {
	padding-left: 4px;
	font-size: 35px;
	color: #cac0ac;
}
